@charset "UTF-8"

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100vh;
    height: 100vh;
    overflow: hidden;
}

body{
   background: url(../imagens/FundoBranco.avif) no-repeat top center; 
   background-size: cover;
   background-attachment: fixed;
   
}

main{
    height: 100vh;
    position: relative;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 20px;
    width: 269px;
    height: 472px;

    border: none;
}

section#rede-sociais{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#rede-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0,0,0.400 );
    box-sizing: border-box;
}

section#rede-sociais img:hover{ 
    border: 2px solid rgba(234, 230, 230, 0.207); transform: translate(-3px,-3px); box-shadow: 5px 5 px 10px rgb(0,0,0,0.623); transition: transform .3s, border 4s; } 